.movies-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.movies-list__message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  max-width: 380px;
  text-align: center;
  color: #000;
}

.movies-list__message_type_err{
  color: #FF004C;
}

.movies-list__box{
  box-sizing: border-box;
  width: 100%;
  padding: 70px 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  justify-content: center;
  justify-items: center;
}

.movies-list__more-btn{
  box-sizing: border-box;
  padding: 0;
  width: 320px;
  height: 36px;
  background-color: #F9F9F9;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin: 50px 0 80px;
  border-radius: 6px;
  transition: color .4s ease-in, background-color .4s ease-in;
}

.movies-list__more-btn_hidden{
  display: none;
}

.movies-list__more-btn:hover{
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1023px){
  .movies-list__box{
    grid-column-gap: 30px;
    grid-row-gap: 36px;
  }

  .movies-list__message{
    font-size: 12px;
    line-height: 16px;
    max-width: 280px;
  }
}

@media screen and (max-width: 650px){
  .movies-list__box{
    padding: 40px 0 30px;
  }

}

@media screen and (max-width: 425px){
  .movies-list__box{
    grid-row-gap: 16px;
  }
  .movies-list__more-btn{
    width: 240px;
  }
  .movies-list__message{
    font-size: 11px;
    line-height: 13px;
    max-width: 240px;
  }
}