.entrance{
  flex-grow: 1;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 396px;
  color: #000;
}

.entrance__title{
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px; 
}

.entrance__form{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.entrance__label{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-bottom: 30px;
  position: relative;
}

.entrance__label:last-of-type{
  margin-bottom: 83px;
}

.entrance__input{
  font-style: inherit;
  color: #000;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid  #E8E8E8;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 0 10px;
}

.entrance__input:focus{
  outline: none;
  border-bottom: 1px solid  #000 ;
}

.entrance__input:invalid{
  color: #FF4062;
}

.entrance__error{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  position: absolute;
  top: 46px;
  left: 0;
}

.entrance__submit-btn{
  height: 45px;
  color:#fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.entrance__submit-btn:disabled{
  opacity: .2;
  cursor: default;
}

.entrance__subtitle{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.entrance__link{
  color: #000;
  text-decoration: none;
  margin-left: 6px;
}


@media screen and (max-width: 769px){
  .entrance__form{
    flex-grow: 0;
  }

  .entrance__login-btn{
    margin-top: 138px;
  }
}

@media screen and (max-width: 650px){
  .entrance{
    width: 300px;
  }

  .entrance__form{
    flex-grow: 1;
  }

  .entrance__submit-btn{
    font-size: 12px;
    line-height: 15px;
  }

  .entrance__login-btn{
    margin-top: auto;
  }
}

@media screen and (max-width: 425px){
  .entrance{
    width: 260px;
    align-items: center;
    padding: 56px 0 30px;
  }

  .entrance__title{
    margin: 50px 0 80px;
  }
  
  .entrance__subtitle{
    font-size: 12px;
    line-height: 15px;
  }
}