.saved-movies{
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
}

@media screen and (max-width: 1023px){
  .saved-movies{
    padding: 0 20px;
  }
}

@media screen and (max-width: 769px){
  .saved-movies{
    padding: 0 0;
  }
}