.navigation{
  margin-top: auto;
  padding: 0;
}

.navigation__list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item{
  display: flex;
  background-color: #e8e8e8;
  height: 36px;
  min-width: 96px;
  border-radius: 10px;
  margin-right: 10px;
  transition: background-color .4s ease-in;
}

.navigation__item:last-of-type{
  margin-right: 0;
}

.navigation__item:hover{
  background-color: #000;
}

.navigation__link{
  display: block;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 36px;
  color: #fff;
}

@media screen and (max-width: 425px){
  .navigation__item{
    height: 26px;
    min-width: 82px;
    margin-right: 6px;
    border-radius: 6px;
  }

  .navigation__link{
    font-size: 10px;
    line-height: 26px;
    border-radius: 6px;
  }
}
